@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: white;
    --foreground: black;
}

[data-theme='dark'] {
    --background: black;
    --foreground: white;
}

body {
    background-image: url("/images/ellipse.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
}